div{
	width: 250px;
	height: 250px;
}

.Um{
	background-color: blue;
	float: left;
}

.Dois{
	background-color: black;
	float: left;
}

.Três{
	background-color: blue;
	float: left;
}

.Quatro{
	background-color: black;
	float: left;
}